* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.postcard {
    background: url(img/fon.jpg) no-repeat center/cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.postcard__content {
    background-color: aqua;
    max-width: 500px;
    border-top-right-radius: 9px;
    border-top-left-radius: 9px;
    padding: 20px;
    text-align: center;
    transition: transform 1s;
    position: relative;
    overflow: hidden;
}

.postcard__content:hover {
    transform: scale(1.10);

}





.star {
    max-width: 100px;
    animation:starMove 2s infinite ;
        
}

.postcard__title {
    color: white;
}

.postcard__text {
    color: blue;
}

.postcard__btn {
    background-color: red;
    transform: scale(1.7);
    margin-top: 10px;
    animation: fadeIn 3s;
}




.soldier {
    max-width: 150px;
}

.plane {
    max-width: 150px;
    position: absolute;
    top: -3px;
    left: 0px;
   animation:starMove 2s infinite; 
}

.country{
    animation: changeColor 3s infinite;
}
@keyframes changeColor{

        0%{
         color: white;
        }
        25%{
            color: white;
        }
         50%{
            color: blue;
         }
             75%{
                color: blue;
             }
             85%{
                color: red;
             }
          100%{
            color: red;
          }
}
@keyframes fadeIn{
    0%{
           opacity: 0;
    }
    100%{
           opacity: 1;
    }
}
@keyframes starMove{
    0%, 100%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
    }
}
.confetti div {
    width: 10px;
    height: 10px;
    background: orange;
    opacity: 0.6;
    position: absolute;
    animation: confettiFall 3s linear infinite;
}

.confetti div:first-child {
    left: 10%;
}

.confetti div:nth-child(2) {
    background-color: aqua;
    left: 30%;
}

.confetti div:nth-child(3) {
    left: 50%;
    animation-delay: 1s;
    background: #2ecc71;
}

.confetti div:nth-child(4) {
    left: 70%;
    animation-delay: 1.5s;
    background: #3498db;
}

.confetti div:nth-child(5) {
    left: 90%;
    animation-delay: 2s;
    background: #9b59b6;
}

@keyframes confettiFall {
    0% {
        transform: translateY(-100%) rotate(0deg);
        opacity: 1;
    }

    100% {
        transform: translateY(500px) rotate(720deg);
        opacity: 0;
    }
}